<ng-container *ngIf="combined$ | async as comb">
<div  fxLayoutAlign="center center">
  <mat-card fxFlex="40" fxFlex.lt-md="90"  fxLayout="column">
    <mat-card-title [ngStyle]="{textAlign: 'center'}">Forgot Password</mat-card-title>
    <form fxLayoutAlign="stretch" fxLayout="column"
          [formGroup]="cpForm" (ngSubmit)="onSubmit()" >
      <mat-form-field >
        <mat-label>Email</mat-label>
        <input matInput placeholder="Enter your email" formControlName="email">
        <mat-error>Enter valid email</mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" [class.spinner]="comb.loading"
              type="submit" class="btn" [disabled]="cpForm.invalid || comb.loading">Send</button>
    </form>
  </mat-card>
</div>
</ng-container>
