<ng-container *ngIf="combined$ | async as comb">
<div  fxLayoutAlign="center center">
  <mat-card fxFlex="40" fxFlex.lt-md="90"  fxLayout="column">
    <mat-toolbar>Login Page</mat-toolbar>
    <form  fxLayoutAlign="stretch" fxLayout="column"
           [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="form">
      <mat-form-field >
        <mat-label>Email</mat-label>
        <input matInput placeholder="email" formControlName="email">
        <mat-error>Enter valid email</mat-error>
      </mat-form-field>

      <mat-form-field >
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password">
        <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is <strong>required</strong></mat-error>
        <mat-error *ngIf="loginForm.get('password').invalid && !loginForm.get('password').hasError('required')">
          Minimum 8 characters, at least one uppercase, one lowercase and one number
        </mat-error>
      </mat-form-field>

      <button mat-raised-button color="primary" [class.spinner]="comb.loading"
              type="submit" class="btn" [disabled]="loginForm.invalid || comb.loading">Login</button>
      <div class="center">
        <a mat-stroked-button routerLink="/auth/forgot-password">Forgot password</a>
      </div>
    </form>
  </mat-card>
</div>
</ng-container>

