<div fxLayout="row" fxLayoutAlign="center center">
  <div  fxFlex="40" fxFlex.lt-md="90">
    <mat-card  fxLayout="column" >
      <mat-form-field >
        <mat-label>Name</mat-label>
        <label>
          <input matInput placeholder="name" type="text" [formControl]="nameFormControl">
        </label>
      </mat-form-field>

      <div *ngIf="groups.length > 1">
        <ng-select
          #select
          [items]="groups"
          bindLabel="name"
          placeholder="Filter by Group name"
          [multiple]="true"
          maxSelectedItems="3"
          (clear)="onClear()"
          (add)="onAdd($event)"
          (remove)="onRemove($event)"
        ></ng-select>
      </div>
      <button mat-raised-button type="button" (click)="clearSelect()">Clear</button>
    </mat-card>
  </div>
  <ng-container *ngIf="nameFilter$ | async"></ng-container>

</div>
