<div fxLayout="row" fxLayoutAlign="center center">
  <div  fxFlex="40" fxFlex.lt-md="90">
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-description fxLayoutAlign="space-between">
          Click to filter by group or name
        </mat-panel-description>
      </mat-expansion-panel-header>
      <mat-form-field fxLayout="row">
        <mat-label>Name</mat-label>
          <input matInput placeholder="name" type="text" [formControl]="nameFormControl">
        <mat-hint align="start"><strong>Enter at least 3 characters</strong> </mat-hint>

      </mat-form-field>

      <ng-container *ngIf="nameFilter$ | async"></ng-container>
      <div *ngIf="groups.length > 1" >
        <ng-select
          appendTo="body"
          #select
          [items]="groups"
          bindLabel="name"
          placeholder="Filter by Group name"
          [multiple]="true"
          maxSelectedItems="3"
          (clear)="onClear()"
          (add)="onAdd($event)"
          (remove)="onRemove($event)"
        ></ng-select>
      </div>
      <button  mat-raised-button type="button" (click)="clearSelect()">Clear</button>
    </mat-expansion-panel>
  </div>
</div>

