<div  fxLayoutAlign="center center" class="make-pic">
<div  fxFlex="60" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="2px">
  <div *ngIf="info$ | async as res; else loadingOrError">
    <h1 class="title">Round {{res.weekNumber}}</h1>
    <app-timer
      [deadline]="res.deadLine"
    ></app-timer>
    <app-pick-form [info]="res"
    [limit]="limit"
    [isAdmin]="false"
    (submitForm)="onSubmitForm($event)"></app-pick-form>
  </div>
  <ng-template #loadingOrError>

  </ng-template>
  <div>
  </div>
</div>
</div>


