
<div fxLayout="column" fxLayoutGap="10px" *ngIf="combined$ | async as res; else loadingOrError">
  <ng-container *ngIf="beforeDeadline">
    <app-timer
      [deadline]="res.result.deadLine"
    ></app-timer>
  </ng-container>

  <ng-container *ngIf="res.result.total > 1">
    <app-filter
      [groups]="res.groups"
    ></app-filter>
  </ng-container>

  <div fxLayout="row" fxLayoutAlign="center center">
      <button
        (click)="navigateToWeek(res.result.weekNumber - 1)"
        mat-raised-button type="button"
        *ngIf="!previousNotZero(res.result.weekNumber)"
        class="first">Previous</button>
      <button
        (click)="navigateToWeek(res.result.weekNumber + 1)"
        mat-raised-button type="button"
        *ngIf="res.result.fwp" class="second">Next</button>
    </div>

<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="70" fxFlex.lt-md="100">
  <ngx-datatable
    class="material striped"
    [rows]="rows"
    [columnMode]="ColumnMode.force"
    [limit]="5"
    [rowHeight]="50"
    [headerHeight]="55"
    [footerHeight]="50"
    [scrollbarH]="true"
    [count]="res.result.total"
    [offset]="res.result.pageNumber"
    [externalPaging]="true"
    (page)="setPage($event)"
    [loadingIndicator]="res.isLoading"
  >
    <ngx-datatable-column [sortable]="false" name="Name" [frozenLeft]="true" [maxWidth]="120"></ngx-datatable-column>
    <ng-container *ngFor="let a of gameColumnNames; let i = index">
      <ngx-datatable-column prop="a" [maxWidth]="120">
        <ng-template ngx-datatable-header-template>
          <div
            [ngClass]="{'color-change-title': isSelectionWinner(i, res.result.gamesForWeek[i]?.homeTeam)}"
          >{{res.result.gamesForWeek[i]?.homeTeam}}</div>
          <div
            [ngClass]="{'color-change-title': isSelectionWinner(i, res.result.gamesForWeek[i]?.awayTeam)}"
          >
            {{res.result.gamesForWeek[i]?.awayTeam}}</div>
        </ng-template>
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
          <div
          [ngClass]="{'color-change-title': isSelectionWinner(i, row[a])}"
          >{{row[a]}}</div>
        </ng-template>
      </ngx-datatable-column>
    </ng-container>
    <ngx-datatable-column [sortable]="false" name="FirstScorer" ></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="Margin" [width]="60"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="ExtraPoint" [width]="60"></ngx-datatable-column>
    <ngx-datatable-column [sortable]="false" name="Score" [width]="60"></ngx-datatable-column>
  </ngx-datatable>
  </div>
</div>
</div>

<ng-template #loadingOrError>
  <ng-container *ngIf="httpError$ | async; else loading">
  </ng-container>
</ng-template>
<ng-template #loading>
  <div fxLayout="row" fxLayoutAlign="center center" style="height: 100%; margin-top: 20px">
    <mat-progress-spinner
      [color]="'accent'"
      [mode]="'indeterminate'"
    ></mat-progress-spinner>
  </div>
</ng-template>
